<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>动态组件和v-once指令</title>
		<script src="../vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="root">
			<!-- 根据值的变化 动态加载组件显示 -->
		<!-- 	<component :is='type'>
				
			</component> -->
			
			<child-one v-if="type==='child-one'"></child-one>
			<child-two v-if="type==='child-two'"></child-two>
			<button @click="handleBtnClick">change</button>
		</div>

		<script type="text/javascript">
			
			/* v-once指令 放内存 */
			Vue.component('child-one', {
				template: '<div v-once>child-one</div>'
			})

			Vue.component('child-two', {
				template: '<div v-once>child-two</div>'
			})



			var vm = new Vue({
				el: '#root',
				data: {

					type: 'child-one'

				},
				methods: {
					handleBtnClick: function() {
						this.type = this.type === 'child-one' ? 'child-two' : 'child-one';
					}
				}
			})
		</script>

	</body>
</html>
